@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Montserrat:wght@400;500&display=swap');
:root{
    --toastify-color-progress-light: #6C8F51 !important;
    --toastify-color-progress-dark: #DB3E00 !important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #202020;
    font-family: 'Montserrat', sans-serif;
    
}


body, html{
    position: relative;
   

}

