@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Montserrat:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #202020;
    font-family: 'Montserrat', sans-serif;
    
}


body, html{
    position: relative;
    overflow-x: hidden;
}

